* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
}

.header-logo {
  width: 130px;
  padding: 17px 0;
  text-align: center;
}

.header-nav {
  display: flex;
}

.header-nav-block {
  display: flex;
  width: 90px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #181818;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "GothamPro-Medium";
}
.header-nav-link img {
  padding-bottom: 6px;
}
.header-nav-link:hover {
  color: #0275B1;
  border-bottom: 2px solid #0275B1;
  padding-top: 2px;
  cursor: pointer;
}

.header-search {
  display: flex;
  align-items: center;
}
.header-search img {
  position: absolute;
  padding-left: 55px;
}

.search {
  outline: none;
  height: 15px;
  border: 0;
  margin-left: 74px;
  padding-left: 25px;
}

.header-block-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-block-avatar-text {
  display: flex;
  flex-direction: column;
}
.header-block-avatar-text p {
  padding-left: 15px;
  font-family: "GothamPro-Medium";
  font-size: 12px;
}

.grey {
  color: #c6c6c6;
}

.green {
  color: #02B033;
}

.bold {
  font-weight: bold;
}

.grizzle {
  color: #747474;
}

.dropbtn {
    background-color: #0077B5;
    color: white;
    padding: 16px;
    font-size: 12px;
    border: none;
    font-family: 'GothamPro-Medium';
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0077B5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 63px;
}
.dropdown-content a {
    color: #ffffff;
    padding: 13px 17px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0E6795;}