*
	margin: 0
	padding: 0
	box-sizing: border-box

.header-border
	border-left: 1px solid #F4F4F4
	border-right: 1px solid #F4F4F4

.header-container
	display: flex
	max-width:1440px
	height: 80px
	margin: 0 auto

.header-logo
	width: 9%
	padding: 17px 0
	text-align: center

.header-nav
	display: flex
	width: 31.25%
	padding: 0 15px


.header-nav-block
	display: flex
	width: 90px
	align-items: center
	justify-content: center
	flex-direction: column


.header-nav-link
	display: flex
	height: 100%
	align-items: center
	justify-content: center
	flex-direction: column
	text-decoration: none
	color: #181818
	text-transform: uppercase
	font-size: 12px
	font-family: 'GothamPro-Medium'
	img
		padding-bottom: 6px
	&:hover
		color: #0275B1
		border-bottom: 2px solid  #0275B1
		padding-top: 2px
		cursor: pointer

.header-search
	display: flex
	align-items: center
	width: 25.5%
	img
		position: absolute
		padding-left: 55px
		
.search
	outline: none
	height: 15px
	border: 0
	margin-left: 74px
	padding-left: 25px

.header-block-avatar
	display: flex
	width: 23%
	justify-content: center
	align-items: center

.header-block-avatar-text
	display: flex
	flex-direction: column
	p
		padding-left: 15px
		font-family: 'GothamPro-Medium'
		font-size: 12px

.grey
	color: #c6c6c6

.green
	color: #02B033

.bold
	font-weight: bold

.grizzle
	color: #747474

.dropbtn
	background-color: #0077B5
	color: #ffffff
	padding: 16px
	font-size: 12px
	border: none
	font-family: 'GothamPro-Medium'
	text-transform: uppercase
	cursor: pointer
	outline: none

.drop-container
	display: flex
	align-items: center
	justify-content: center
	padding: 0 1px
	width: 8%

.dropdown
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	&:hover .dropdown-content
		display: block
	&:hover .dropbtn
		background-color: #0E6795

.dropdown-content
	display: none
	position: absolute
	background-color: #0077B5
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
	z-index: 1
	top: 42px
	a:hover
		background-color: #0E6795

.dropdown-content a
	color: #ffffff
	padding: 13px 17px
	text-decoration: none
	display: block
	white-space: nowrap


.container
	max-width: 1440px
	margin: 0 auto
	background-color: #f7f9fb
	display: flex

.container-left-block
	width: 460px
	padding: 39px 0 0 170px

.left-block-link
	display: flex
	align-items: center
	justify-content: space-between
	height: 52px
	padding: 0 30px
	div
		display: flex
		p
			padding-left: 10px

.container-left-block-rectangle
	img
		padding-left: 8px

.container-right
	

.button-top
	display: inline-block
	cursor:pointer
	outline: none
	font-family: 'GothamPro-regular'
	text-transform: uppercase
	font-weight: bold
	vertical-align: bottom
	cursor: pointer
	outline: none
.button-top-left
	padding: 18px 88px
	background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%)
	color: #ffffff
	cursor:pointer
	outline: none
	margin-top: 34px
.button-top-right
	padding: 14px 104px
	background-color: #ffffff
	margin-left: -4px
	margin-top: 44px
